<app-logged-in-header [isHome]=true></app-logged-in-header>

<ion-content *ngIf="currentRequestDataLoaded; else loading">

    <ion-tabs>
        <ion-tab-bar slot="bottom" selected-tab="request-accepted-info">
            <ion-tab-button tab="request-accepted-info">
                <ion-icon name="list-outline"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="thread/{{currentRequest.completed_by_id}}">
                <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

</ion-content>
<ng-template #loading>
</ng-template>