<ion-content class="ion-padding" *ngIf="completingRequest">
    <div *ngIf="!completingRequest.completed_at; else completed">
        <h2>Currently {{isDistributionCenter() ? 'Filling Order' : 'Delivering'}} For...</h2>
        <h3>{{completingRequest.requested_by.name}}</h3>
        <ion-list>
            <ion-list-header>Requested Items</ion-list-header>
            <ion-item *ngFor="let requestedItem of completingRequest.requested_items;">
                {{requestedItem.getProperName()}} {{requestedItem.quantity ? '- ' + requestedItem.quantity : ''}}
                <img *ngIf="requestedItem?.asset?.url" [src]="requestedItem.asset.url" slot="end" (click)="openImage(requestedItem.asset)">
                <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
        </ion-list>
        <ion-button *ngIf="isDistributionCenter()" (click)="openNavigation()">Open Delivery Map</ion-button>
        <ion-button (click)="complete(completingRequest)" *ngIf="isDistributionCenter() || hasNavigated">All Done!</ion-button>
    </div>
    <ng-template #completed>
        <app-delivery-completed completionText="{{isDistributionCenter() ? 'Fill Another Order' : 'Complete Another Delivery'}}" [request]="completingRequest"  state="deliver">
            <h1>All Set!</h1>
        </app-delivery-completed>
    </ng-template>
</ion-content>
