<app-logged-in-header [isHome]=true></app-logged-in-header>

<ion-tabs #tabs>
    <ion-tab-bar slot="bottom" *ngIf="locationId">
        <ion-tab-button tab="location-requested-item/{{locationId}}">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>Locations</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="location-editor/{{locationId}}">
            <ion-icon name="people-outline"></ion-icon>
            <ion-label>Members</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>