<app-logged-in-header></app-logged-in-header>

<ion-tabs #tabs>
    <ion-tab-bar slot="bottom" *ngIf="locationId">
        <ion-tab-button tab="location-requested-items">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>Requested Items</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="location-editor/{{locationId}}">
            <ion-icon name="people-outline"></ion-icon>
            <ion-label>Location Data</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>