<ion-content class="ion-padding" *ngIf="currentRequest">
    <div *ngIf="!currentRequest.completed_at; else completed">
        <h2>Your request has been accepted!</h2>
        <p>{{currentRequest.completed_by.name}} is currently gathering your supplies. We will notify you when they message you, or drop off the goods.</p>
    </div>
    <ng-template #completed>
        <app-delivery-completed completionText="Request Another Delivery" [request]="currentRequest" state="request">
            <h1>All Set!</h1>
            <p>Your delivery has arrived.</p>
        </app-delivery-completed>
    </ng-template>
</ion-content>