<app-logged-in-header [isHome]=true></app-logged-in-header>

<ion-content>

    <div *ngIf="currentState == 'request'">
        <div *ngIf="currentRequestDataLoaded; else loading">

            <app-request-form *ngIf="me" [user]="me"></app-request-form>
        </div>
        <ng-template #loading>

        </ng-template>
    </div>

    <div *ngIf="currentState == 'deliver'" id="deliver">
        <app-delivery-map *ngIf="currentPosition" [startingLatitude]="currentPosition.coords.latitude" [startingLongitude]="currentPosition.coords.longitude"></app-delivery-map>
    </div>

</ion-content>
